a {
    text-decoration: none ;
}
a:hover
{
    color:white;
    text-decoration:none;
    cursor:pointer;
}
.carousel-image{
    height: 30vw;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .font-advertisement{
        font-size: 25px;
    }

    .e-commerce-text{
        font-size: 14px;
    }

    h1{
        font-size: 35px;
    }
}
